@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 100px;
  background-color: white; /* off-white */
  color: #111;
  font-family: PT Sans, Gill Sans, sans-serif;
}

h1, h2 {
  font-weight: normal;
  margin-left: 120px;
  color: #CD6155; /* title blue */
}

h1 {
  font-size: 55px;
  margin-top: 25px;
  margin-bottom: 10px;
}

h2 {
  padding-left: 5px;
  font-size: 13px;
  margin-top: 10px;
  color: #1A5276; /* title blue */
}

a {
  color: inherit;
}

div#viz {
  width: 1100px;
  margin: auto;
  display: block;
}

svg {
  margin: auto;
  display: block;
  height: 800px;
  width: 960px;
  background-color: #fffff8;
  border: 0.5px solid #CD6155; /* stats red */
}

circle {
  stroke: none;
}

text {
  fill: black;
  font-size: 14px;
}

text.majorMinor {
  fill: #2E86C1; /* blue */
  font-size: 20px;
}

text.notSelected {
  fill: gray;
  font-size: 16px;
}

text.selected {
  fill: #2E86C1; /* blue */
  font-size: 26px;
}

text.info_name {
  fill: #2E86C1; /* blue */
  font-size: 30px;
}

text.info_req {
  fill: gray;
  font-size: 30px;
}
