body {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5%;
  background-color: white;
  color: #111;
  max-width: 1400px;
}

svg {
  height: 1000px;
  width: 1000px;
  background-color: white;
  border: 1px solid gray;
}

circle {
  stroke: none;
}

.mathNodesG {
  fill: darkgreen;
}

.lowerNodesG, .seriesNodesG {
  fill: darkblue;
}

.electiveNodesG {
  fill: lightblue;
}

.consultingNodesG {
  fill: darkorange;
}

text.labels {
  fill: #283747;
  font-size: 16;
  font-family: Garamond
}

line.links {
  opacity: 0.4;
}
