@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: white;
  color: #111;
  font-family: PT Sans, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 55px;
  margin-left: 70px;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #CD6155; /* stats red */
}

h2 {
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #1A5276; /* title blue */
  text-align: center;
}


div {
  width: 1000px;
  margin: auto;
  display: block;
}

svg {
  margin: auto;
  display: block;
  width: 960px;
  border: none;
}

svg#classViz {
  height: 650px;
  background-color: #fffff6; /* off white */
}

svg#reqViz {
  height: 170px;
  background-color: white;
}

circle {
  stroke: none;
}

text {
  fill: black;
  font-size: 14px;
}

text.majorMinor {
  fill: #2E86C1; /* blue */
  font-size: 20px;
}

text.notSelected {
  fill: gray;
  font-size: 16px;
}

text.selected {
  fill: #2E86C1; /* blue */
  font-size: 23px;
}

text.info_name {
  fill: #2E86C1; /* blue */
  font-size: 28px;
}

text.info_req {
  fill: gray;
  font-size: 28px;
}

text.reqNumLabel {
  font-size: 12px;
}

div.row {
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 30px;
}

div.requirements {
  padding-top: 20px;
}

h2.requirements {
  padding-top: 70px;
}

h3#note {
  font-size: 15px;
  color: #784212; /* brown */
  text-align: center;
}


ul {
  font-size: 20px;
}

li {
  padding-bottom: 5px;
}

li#mathExplained {
  color: #784212; /* brown */
  font-size: 15px;
}

a {
  font-size: 18px;
  color: #1A5276; /* title blue */
}

a.note {
  font-size: inherit;
}

p {
  padding-bottom: 5px;
}
